@import "tailwindcss";

@theme inline {
  --color-background: #fcfdfd;
  --color-foreground: #15272d62;
  --color-heading: #1b2528;
}

@media (prefers-color-scheme: dark) {
}

body {
  @apply bg-background text-foreground;
}

@layer utilities {
  .heading {
    @apply text-heading font-bold text-3xl;
  }
}
